.defaultTheme {
  --primary: rgb(64, 241, 241);
  --secondary: rgb(15, 79, 161);
  --background: rgb(9, 97, 53);
  --wedge0: red;
  --wedge1: blue;
  --wedge2: yellow;
  --wedge3: green;
  --wedge4: orange;
  --wedge5: purple;
  --wedge6: #222;
  --wedge7: white;
  --wedge8: gray;
  --wedge9: brown;
}

.watermelonTheme {
  --primary: rgb(228, 33, 75);
  --secondary: rgb(10, 136, 20);
  --background: rgb(7, 92, 14);
  --wedge0: red;
  --wedge1: rgb(10, 136, 20);
  --wedge2: rgb(51, 51, 51);
  --wedge3: rgb(228, 33, 75);
  --wedge4: green ;
  --wedge5: deeppink;
  --wedge6: rgb(82, 82, 82);
  --wedge7: rgb(243, 94, 57);
  --wedge8: limegreen;
}

.oceanTheme {
  --primary: rgb(64, 187, 224);
  --secondary: rgb(22, 101, 146);
  --background: rgb(8, 46, 68);
  --wedge0: rgb(0, 132, 255);
  --wedge1: rgb(0, 255, 136);
  --wedge2: rgb(9, 111, 207);
  --wedge3: rgb(9, 62, 177) ;
  --wedge4: blue;
  --wedge5: rgb(47, 161, 206);
  --wedge6: rgb(32, 202, 159);
  --wedge7: rgb(127, 243, 204);
  --wedge8: rgb(114, 241, 250);
  --wedge9: rgb(69, 104, 199);
}

.bananaTheme {
  --primary: rgb(245, 233, 74);
  --secondary: rgb(121, 115, 96);
  --background: rgb(54, 42, 27);
  --wedge0: rgb(255, 255, 255);
  --wedge1: rgb(194, 189, 185);
  --wedge2: rgb(199, 183, 182);
  --wedge3: rgb(158, 101, 63) ;
  --wedge4: rgb(129, 34, 28);
  --wedge5: rgb(221, 219, 103);
  --wedge6: rgb(176, 202, 32);
  --wedge7: rgb(175, 170, 127);
}

.lavenderHue {
  --primary: hsl(260, 70%, 75%);
  --secondary: hsl(250 50% 50%);
  --background: hsl(250 50% 30%);
}

.sunsetHue {
  --primary: hsl(54, 70%, 51%);
  --secondary: hsl(44, 90%, 41%);
  --background: hsl(22, 84%, 33%);
}

.autoRainbow {
  --primary: hsl(147, 61%, 53%);
  --secondary: hsl(0, 0%, 51%);
  --background: hsl(0, 0%, 25%);
}